.turno-glass__container {
    overflow: hidden;
    background: rgba(21, 21, 21, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.19);
    box-shadow: 0px 4px 24px 2px rgba(0, 0, 0, 0.25);
    width: 589px;
    /* height: 543.17px; */
    border-radius: 35px;
}

/* HEADER */
.turno-glass__header {
    height: 48px;
    margin: 33px;
}

.turno-glass__header__text {
    display: flex;
    font-size: 40px;
}

.icon__calendar {
    margin-left: 29px;
}

/* HEADER */
/* BODY */
.turno-glass__body {
    margin: 42px;
    width: auto;
    height: auto;
    overflow-y: scroll;
    margin-top: 0;
    /* margin-bottom: 60px; */
}

.turno-glass__body__content {
    height: 310px;
}

.turno-glass__body::-webkit-scrollbar {
    display: none;
}

.turno-glass__body__container {
    margin-bottom: 20px;
    word-break: break-word;
}

.turno-glass__body__info {
    width: auto;
    height: auto;
    display: flex;
    word-wrap: break-word;
    padding-bottom: 10px;
}

.turno-glass__body__nombre {
    justify-content: center;
    word-wrap: break-word;
    width: 97%;
    font-size: 24px;
    color: #ffffffab;
}

.turno-glass__body__text {
    font-size: 24px;
    margin-left: 13px;
}

.hora__container {
    flex-direction: column;
    font-size: 20px;
    width: 200px;
    display: flex;
}

.turno-glass__body__text__hora {
    /* padding-bottom: 10px; */
    display: flex;
}


/* BODY */