.turnos-screen-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.turnos-screen {
  flex: 1;
  background: rgba(21, 21, 21, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.19);
  box-shadow: 0px 4px 24px 2px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  margin: 40px 100px;

  display: flex;
  flex-direction: column;
  padding: 45px;
}

.turnos-screen__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
}
.turnos-screen__header__icon {
  transition: all 0.2s ease;
}
.turnos-screen__header__icon:hover {
  transform: scale(1.1);
}

.turnos-screen__header__text {
  font-size: 40px;
  margin: 0;
}

.container-screen {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.turnos-screen__body {
  flex: 1;
  height: 100%;
  display: grid;
  place-items: center start;
  overflow-y: scroll;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 35px;
}

.turnos-screen__body::-webkit-scrollbar {
  width: 0;
}

.turnos-screen__body__item {
  width: 450px;
  height: 140px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.turnos-screen__body__row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 15px;
  font-size: 28px;
}

.turnos-screen__body__row__group{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 20px;
    align-items: center;
    margin-left: auto;
}

.turnos-screen__body__row2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.turnos-screen__body__row2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.turnos-screen__body__row2__text{
    font-size: 24px;
    color: #ffffff65;
    margin-left: 45px;
}

.turnos-screen__body__row2__button {
  height: 40px;
  width: 200px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 20px;

  transition: all 0.2s ease;
}

.turnos-screen__body__row2__button:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.turnos-screen__body__row2__button__group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.turnos-screen__body__row2__button__group__edit,
.turnos-screen__body__row2__button__group__delete {
  transition: all 0.2s ease;
}

.turnos-screen__body__row2__button__group__edit:hover,
.turnos-screen__body__row2__button__group__delete:hover {
  transform: scale(1.1);
}
