.beepcons_modal{
    width: 65%;
    height: 90%;
    background: #15151583;
    backdrop-filter: blur(127px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    border: none;

    display: flex;
    flex-direction: column;
}