.beepcons-glass__body__content__item {
    /* margin-left: 75px; */
    height: auto;
    width: 440px;
    word-wrap: break-word;
    /* border-bottom: 2px solid #ffffff2d; */
    margin-bottom: 40px;
    font-size: 24px;
}

.beepcons-glass__body__content__item__header {
    align-items: center;
    margin-bottom: 18px;
    display: flex;
}

.beepcons-glass__body__content__item__header_icon {
    margin-top: 3px;
    margin-right: 18px;
}

.beepcons-glass__body__content__item__header_titulo {
    font-size: 32px;
}

.beepcons-glass__body__content__item__text {
    color: #ffffffab;
    margin-bottom: 2px;
    border-bottom: 2px solid #ffffff2d;
    padding-bottom: 15px;
}