.beepcons-glass__body__content__item {
    position: relative;
    /* margin-left: 75px; */
    height: auto;
    width: 440px;
    word-wrap: break-word;
    /* border-bottom: 2px solid #ffffff2d; */
    margin-bottom: 40px;
    font-size: 24px;
}

.beepcons-glass__delete{
    top: 0;
    margin-top: 2px;
    right: 0;
    cursor: pointer;
}

.beepcons-glass__body__content__item__header {
    cursor: pointer;
    margin-bottom: 18px;
    display: flex;
}

.beepcons-glass__body__content__item__header__icon {
    margin-top: 3px;
    margin-right: 18px;
}

.beepcons-glass__body__content__item__header__titulo {
    width: 80%;
    word-wrap: break-word;
    font-size: 32px;
}

.beepcons-glass__body__content__item__text {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 2px;
    border-bottom: 2px solid #ffffff2d;
    padding-bottom: 15px;
}

.item-text-area {
    font-family: 'Roboto', sans-serif;
    outline: none;
    resize: none;
    overflow: auto;
    padding: 5px 0;
    border: 0px;
    background-color: transparent;
    font-size: 24px;
    stroke: none;
    height: 100%;
    width: 100%;
    font-weight: 300;
}
.item-text-area::-webkit-scrollbar {
    display: none;
}
.item-text-area-title{
    font-family: 'Roboto', sans-serif;
    outline: none;
    resize: none;
    overflow: auto;
    border: 0px;
    padding: 5px 0;
    background-color: transparent;
    color: #080808de;
    font-size: 24px;
    stroke: none;
    height: 100%;
    width: 100%;
    font-weight: 300;
}
