.screen-container{
    height: auto;
    display: flex;
    flex-direction: row; 
}

.row2{
    flex: 1;

    display: flex;
    flex-direction: column;
}

.col{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 55px;
    padding: 40px;
}

.col2{
    padding-top: 0%;
}

.col1 > .alertas-glass{
    width: 600px;
}

.col1 > .turno-glass__container{
    flex: 1;
}
.col2 > .logs-glass__container {
    width: 450px;
}
.col2 > .counter-glass__container {
    width: 350px;
}

