#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background:url("glass 1.png");
  background-size: 100%;
}
.App{
  width: 100vw;
  height: 100vh;
  background: rgba(81, 96, 236, 0.29);
  backdrop-filter: blur(150px);
}
