#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background:url("./assets/background.png");
  background-size: 100%;
}

.screen-blur{

  background: rgba(81, 96, 236, 0.29);
  backdrop-filter: blur(150px);
}

.App{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
}
