.recorridos-screen__modal{
    width: 65%;
    height: 90%;
    background: #15151583;
    backdrop-filter: blur(127px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    border: none;

    display: flex;
    flex-direction: column;
}

.recorridos-screen__modal__close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.recorridos-screen__modal:focus, *:focus{
    outline: none;
}

.recorridos-screen__modal__header{
    font-size: 40px;
    padding: 35px 35px 0 45px;
    color: #fff;
}

.recorridos-screen__modal__body{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 35px;
    padding-left: 45px;
}

.recorridos-screen__modal__body__row1{
    width: 450px;
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;
}

.recorridos-screen__modal__body__row2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px   ;
    padding-top: 0;
    padding-bottom: 45px;
    margin: 0 auto;
}

.recorridos-screen__modal__body__row1__input{
    margin: 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    justify-self: flex-start;
    width: 60%;
}

.recorridos-screen__modal__body__row1__button{
    height: 100px;
    width: 350px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    font-size: 20px;
    margin-top: auto;
    transition: all 0.2s ease;
    background-color: transparent;
    color: #fff;

}

.recorridos-screen__modal__body__row1__button:hover{
    background-color: #ffffff;
    color: #000;
}

.recorridos-screen__modal__body__row1__input__label{
    font-size: 23px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    color: #fff;
    margin-bottom: 5px;
}

.recorridos-screen__modal__body__row2__group{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.recorridos-screen__modal__body__row2__group__text{
    font-size: 23px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    color: #fff;
    margin-bottom: 5px;
}

.recorridos-screen__modal__body__row2__group__puntos{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.recorridos-screen__modal__body__row2__group__puntos > *{
    padding: 10px;
    margin-bottom: 10px;
}


